# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
venv/
env/
ENV/
*.env
*.venv

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# Jupyter Notebooks
.ipynb_checkpoints

# Test coverage
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Profiling
.prof

# Others
.DS_Store
Thumbs.db

config/*
!config/config.py
!config/**/
!config/**/config*.json

repomix-output.xml

# Public keys
**/public_key.pem

# Private keys
**/private_key.pem

# CA database
ca/ca.db

# User ledgers
config/**/user/ledger.json
config/**/user/token_wallet.json

