# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
venv/
env/
ENV/
*.env
*.venv

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# Jupyter Notebooks
.ipynb_checkpoints

# Test coverage
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Profiling
.prof

# Others
.DS_Store
Thumbs.db