# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
venv/
env/
ENV/
*.env
*.venv

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# Jupyter Notebooks
.ipynb_checkpoints

# Test coverage
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Profiling
.prof

# Others
.DS_Store
Thumbs.db
repomix-output.xml

# ==========================
#   PROJECT SPECIFIC RULES
# ==========================

# 1. Ignorar Base de Dados da CA
P2P_auction_system/ca/ca.db

# 2. Ignorar chaves
**/*.pem

# 3. Regra Geral para pastas 'user'
# Isto impede o upload das pastas 'user' dentro de config1, config2, configRelay, etc.
P2P_auction_system/config/*/user/

# 4. Regras Específicas para configCA
# Ignora tudo dentro de configCA ... exceto o ficheiro de configuração json
P2P_auction_system/config/configCA/*
!P2P_auction_system/config/configCA/configCA.json